@import '~styles/colors';
@import '~styles/sizes';
@import '~styles/layout';

.searchbar {
  width: 100%;
  height: 35px;
  border-radius: $border-radius-size;
  overflow: hidden;

  .input {
    border: none;
    border-radius: $top-bottom-left-round;
    width: 100%;
    height: 100%;
    font-size: 18px;
    background: $light-gray;
    padding-left: $space-regular;
  }

  .button {
    border-radius: $top-bottom-right-round;
    border: none;
    height: 100%;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    background-repeat: no-repeat;
    background-position: center center;
  
    &.default {
      background: $light-gray;
    }
  
    &.blue {
      background: $blue;
      color: $white;
    }
  }  
}
