@import '~styles/mixins';
@import '~styles/colors';
@import '~styles/sizes';

.product-item {
    background: $white;
    border-top: none;
    padding: $space-regular;
    width: 100%;

    .product-image {
        height: 180px;
        width: 180px;
        margin-right: $space-regular;
    };
    
    .product-link {
        @include flex-element($justify-content: left);
        color: $black;
    }

    .product-data {
        width: 100%;
    }

    .seller-location { 
        font-size: 12px;
        line-height: $space-regular;
        text-align: right;
    }

    .free-shipping {
        height: 12px;
        padding-left: 5px;
    }
    
    .product-price, .product-title {
        font-size: 18px;
    }
}