@import '~styles/mixins';
@import '~styles/colors';
@import '~styles/sizes';

.header {
  background: $yellow;
  padding: $space-regular 0;

    .wrapper {
        @include flex-element;
        height: 40px;
    }

    .logo-link {
        display: block;
        width: 150px;
        height: 100%;
        background: url('~images/logo_large.png') no-repeat center center;
        background-size: 100%;
        margin-right: $space-regular;
    }
}

@include mobile {
    .header .logo-link {
        width: 55px;
        background-image: url('~images/logo_small.png');
    }
}
