@import '~styles/mixins';

.wrapper {
    margin: 0 auto;
    width: 95%;
    max-width: 1000px;
}

.flex-wrapper {
    display: flex;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}